<h1>Ajouter un défunt : </h1>
<form class="border" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" >
  <div class="form-group col-md-12">
    <div class="row">
      <div class="col-lg-6">
        <mat-form-field class="full-width">
            <input  matInput placeholder="Prénom" type="text" class="form-control" placeholder="Prénom" formControlName="prenom">
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field class="full-width">
            <input  matInput placeholder="Nom" type="text" class="form-control" placeholder="Nom" formControlName="nom">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="form-group col-md-12">
    <div class="row">
      <div class="col-lg-12">
          <mat-form-field class="full-width">
              <input  matInput placeholder="époux / épouse" type="text" class="form-control" placeholder="époux / épouse" formControlName="epouxEpouse">
          </mat-form-field>
      </div>
    </div>
  </div>

  <div class="form-group col-md-12">
    <div class="row">
      <div class="col-lg-6">
        <mat-form-field class="full-width">
            <input matInput  [matDatepicker]="dateDuDeces" placeholder="Date du décès :" formControlName="dateDuDeces" >
            <mat-datepicker-toggle matSuffix [for]="dateDuDeces"></mat-datepicker-toggle>
            <mat-datepicker #dateDuDeces></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field class="full-width">
            <input  matInput placeholder="Lieu Du Décès" type="text" class="form-control" placeholder="Lieu Du Décès" formControlName="lieuDuDeces">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="form-group col-md-12">
    <div class="row">
      <div class="col-lg-6">
        <mat-form-field class="full-width">
            <input matInput  [matDatepicker]="dateDeNaissance" placeholder="Date De Naissance" formControlName="dateDeNaissance" >
            <mat-datepicker-toggle matSuffix [for]="dateDeNaissance"></mat-datepicker-toggle>
            <mat-datepicker #dateDeNaissance></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field class="full-width">
            <input  matInput placeholder="Lieu De Naissance" type="text" class="form-control" placeholder="Lieu De Naissance" formControlName="lieuDeNaissance">
        </mat-form-field>
      </div>
    </div>
  </div>


  <div class="form-group col-md-12">
    <div class="row">
      <div class="col-lg-6">
        <mat-form-field class="full-width">
            <input matInput  [matDatepicker]="dateDesFunerailles" placeholder="Date Des Funérailles" formControlName="dateDesFunerailles" >
            <mat-datepicker-toggle matSuffix [for]="dateDesFunerailles"></mat-datepicker-toggle>
            <mat-datepicker #dateDesFunerailles></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="form-group col-md-12">
    <div class="row">
      <div class="col-lg-6">
        <mat-form-field class="full-width">
            <input  matInput placeholder="Lieu De Départ" type="text" class="form-control" placeholder="Lieu De Départ" formControlName="lieuDeDepart">
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field class="full-width">
            <input  matInput placeholder="Heure De Départ" type="time" class="form-control" placeholder="Heure De Départ" formControlName="heureDeDepart" useValueAsDate>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="form-group col-md-12">
    <div class="row">
      <div class="col-lg-6">
        <mat-form-field class="full-width">
            <mat-select placeholder="église" formControlName="egliseDe">
              <mat-option *ngFor="let eglise of eglises" [value]="eglise._id">
                {{ eglise.titre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field class="full-width">
            <input  matInput placeholder="Heure de la messe" type="time" class="form-control" placeholder="Heure de la messe" formControlName="heureDeLaMesse" useValueAsDate>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="form-group col-md-12">
    <div class="row">
      <div class="col-lg-6">
        <mat-form-field class="full-width">
            <mat-select placeholder="Crématorium" formControlName="crematorium">
              <mat-option *ngFor="let crematorium of crematoriums" [value]="crematorium._id">
                {{ crematorium.titre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field class="full-width">
            <input  matInput placeholder="Heure du Crématorium" type="time" class="form-control" placeholder="Heure du Crématorium" formControlName="heureCrematorium" useValueAsDate>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="form-group col-md-12">
    <div class="row">
      <div class="col-lg-6">
        <mat-form-field class="full-width">
            <mat-select placeholder="Cimetière" formControlName="cimetiere">
              <mat-option *ngFor="let cimetiere of cimetieres" [value]="cimetiere._id">
                {{ cimetiere.titre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field class="full-width">
            <input  matInput placeholder="Heure du Cimetière" type="time" class="form-control" placeholder="Heure du Cimetière" formControlName="heureCimetiere" useValueAsDate>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="form-group col-md-12">
    <div class="row">
        <div class="col-lg-4">
        </div>
      <div class="col-lg-4">
        <button type="submit" class="btn btn-primary">enregistrer</button>
      </div>
    </div>
  </div>
</form>
