<div class="bs-component">
  <table class="table table-striped table-hover">
      <thead>
          <tr>
              <th>
                  <mat-form-field class="full-width">
                      <input [(ngModel)]="searchText.nom" matInput placeholder="Nom" type="text" class="form-control" placeholder="Nom">
                  </mat-form-field>
              </th>
              <th>
                <mat-form-field class="full-width">
                  <input [(ngModel)]="searchText.prenom" matInput placeholder="Prenom" type="text" class="form-control" placeholder="Prénom">
                </mat-form-field>
              </th>
              <th>
                <mat-form-field class="full-width">
                  <input matInput [(ngModel)]="searchText.dateDuDeces" [matDatepicker]="picker" placeholder="Date du décès :">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </th>
              <th>
                <mat-form-field class="full-width">
                  <input matInput [(ngModel)]="searchText.dateDesFunerailles" [matDatepicker]="picker2" placeholder="Date des funérailles :">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let defunt of defunts
           | filterDefunt : { nom:searchText.nom, prenom: searchText.prenom, dateDuDeces: searchText.dateDuDeces,dateDesFunerailles: searchText.dateDesFunerailles}
           | paginate: { itemsPerPage: 10, currentPage: p } ">
              <td>{{defunt.nom}}</td>
              <td>{{defunt.prenom}}</td>
              <td>{{defunt.dateDuDeces| date : 'dd/MM/yyyy'}}</td>
              <td>{{defunt.dateDesFunerailles| date : 'dd/MM/yyyy'}}</td>
              <td><i class="fa fa-times" aria-hidden="true" (click)="deleteDefunt(defunt._id)"></i></td>
              <td><i class="fa fa-pencil" aria-hidden="true" routerLink="/modifierDefunt/{{defunt._id}}" ></i></td>
          </tr>
      </tbody>
  </table>
<pagination-controls
  previousLabel="Précédent"
  nextLabel="Suivant"
  (pageChange)="p = $event">
</pagination-controls>
